.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-padding: 0 0 0 10;
    -fx-border-color: transparent;
    -fx-background-radius: 6px;
}

.menu-button:hover {
    -fx-background-color: #f0f0f0;
}

.menu-button:pressed {
    -fx-background-color: #e0e0e0;
}

.menu-divider {
    -fx-stroke: #dddddd;
    -fx-stroke-width: 2;
}

.menu-button-item {
    -fx-padding: 0 10 0 10;
}
